.rtd-pro-footer-wrapper {
	display: none;
}

.rtd-pro.alabaster {
	display: none;
}

.ethical-sidebar {
	display: none;
	visibility: hidden;
	height: 0;
	width: 0;
}

.ethical-footer {
	display: none;
	visibility: hidden;
	height: 0;
	width: 0;
}

.ethical-alabaster {
	display: none;
	visibility: hidden;
	height: 0;
	width: 0;
}

table.docutils td {
	border: none;
	box-shadow: none;
}

table.docutils tr {
	border: none;
	box-shadow: none;
}

table.docutils th {
	border: none;
	box-shadow: none;
}

table.docutils {
	border: none;
	box-shadow: none;
}

.docutils {
	border: none;
	box-shadow: none;
}

a.reference {
	border-bottom: 0;
}

.bodywrapper hr {
	display: none;
}

a {
	color: #33A2FF;
}

#searchbox h3 {
	display:none;
}

.sphinxsidebarwrapper h3 {
	display: none;
}

a .download .pre {
	color: #33A2FF;
	font-weight: normal;
}


/* Taken from https://github.com/bitprophet/alabaster/pull/114/files*/

div.sphinxsidebar {
    max-height: 100%;
    /*overflow-y: auto;*/
}

div.sphinxsidebar #searchbox input[type="text"] {
    width: 160px;
}

div.sphinxsidebar .search > div {
    display: table-cell;
}

img {
    width: 100%;
    height: auto !important;
}

img.travis {
    width: 90px;
}

a.menu-link {
	font-size: 25px;
	border: none !important;
	display: none;
}

/* Don't put an underline on images */
div.line > a.reference:hover {
  border-bottom: none;
}

/* Mobile Only */
@media screen and (max-width: 875px) {
body {
	margin: 0;
	padding: 0;
	width: 100%
}

div.document {
	margin: 0;
	padding: 0;
	word-wrap: break-word !important;
	width: auto;
}

div.sphinxsidebar {
	margin: 0;
	width: auto;
}

div.sphinxsidebar ul {
	margin: 10px 0;
	padding: 0;
	color: #000;
	width: 100%;
	display: inline-block;
}

div.sphinxsidebarwrapper {
	padding: 0px;
}

div.documentwrapper {
	margin: 0;
	padding: 20px 30px;
	width: auto;
}

div.sphinxsidebar #searchbox input[type="text"] {
    width: 80%;
}

div.sphinxsidebar p {
	margin: 0;
	padding: 5px 0 0 0;
}

div.sphinxsidebar #searchbox {
    min-height: 30px;
}

div.sphinxsidebar #searchbox input[type="text"] {
	width: 80%;
}

}
